body{
    background-color: rgb(25, 215, 215);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-top:100px;

}
h1{
    font-size:4rem;

}
button{
        font-size: 1.7rem;
        padding:10px 20px;
        font-weight:bold;
        color:white;
        border:none;
        border-radius:5px;
        cursor:pointer;
        transition:background-color 0.5s ease;

    
}

.add-button{
    background-color: hsl(111, 71%, 34%);
    margin-left:4rem;

}
.add-button:hover{
    background-color: hsl(125,47%,44%);

}
.delete-button{
    background-color: hsl(0, 86%, 60%);
    

}
.delete-button:hover{
    background-color: hsl(13, 85%, 46%);

}
.up-button{
    background-color: hsl(244, 47%, 54%);
   

}
.up-button:hover{
    background-color: hsl(311, 47%, 44%);

}
.down-button{
    background-color: hsl(244, 47%, 54%);
   

}
.down-button:hover{
    background-color: hsl(319, 47%, 44%);

}

input[type="text"]{
    font-size: 1.6rem;
    padding:10px;
    border:2px solid hsla(0,0%,0%,0.5);
    border-radius:5px;
    color:hsla(0,0%,0%,0.5);
}
ol{
    padding:0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0,0% ,97%);
    margin-bottom:10px;
    border:3px solid hsla(0,0%,0%0.75);
    display:flex;
    border-radius: 5px;
    align-items: center;
}
.text{
    flex:1;
}

.delete-button,.up-button,.down-button{
    padding:8px 20px;
    font-size:1.4rem;
    margin-left:10px;

}