body{
   background-color: black;
   margin:0;

   display:flex;
   justify-content: center;
   min-height: 100vh;
   align-items: center;
   
}

.clock-container{
  backdrop-filter: blur(5px);
  width:100vw;
  padding:10px 0;
}
.clock{

    color:aqua;
    font-size: 6rem;
    font-weight: bold;
    font-family:monospace;
    text-align:center;
    text-shadow:3px 3px 5px hsla(0,0%,0%,0.75);

}